<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="http://staff.acecrc.org.au/~mdsumner/">About</a></li>
	        		<li><a href="http://staff.acecrc.org.au/~mdsumner/Michael_SumnerCV.pdf">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	        		<li><a href="/pages">Pages</a></li>
	        		
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<!-- <li><a href="mailto:mdsumner@gmail.com">email</a></li> -->
	        		<li><a href="https://github.com/mdsumner">github.com/mdsumner</a></li>
	        		<li><a href="http://cyclemumner.blogspot.com.au/">Fair Tirade (old blog)</a></li>
	        		<li><a href="http://staff.acecrc.org.au/~mdsumner/">~mdsumner at ACE (old staff website)</a></li>
				</ul>
			</footer>
		</body>
	</html>